.elokuva {
    display: flex;
    margin: 2rem;
}

.elokuva a:hover {
    border: 15px solid white;
    cursor: pointer;
    transition: 0.2s;
}


#pinnat_kireena_juliste {
    max-width: 22rem;
}

#taivaanranta-juliste {
    max-width: 20rem;
}