.page h1 {}

.page h2 {
    text-align: center;
    max-width: 50rem;
    margin-bottom: 2rem;
}

#introduction-text {
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 15px;
}