.esittely {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esittely h2 {
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.reserve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.reserve button {
    font-size: 20px;
    cursor: pointer;
    background: none;
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    margin-right: 5%;
}

.reserve button:hover {
    background: rgba(56, 56, 56, 0.5);
}

.reserve .contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    text-align: center;
    margin-top: 8%;
}

.contact-info p {
    font-size: 25px;
}

@media (max-width: 1500px) {

    .esittely h2 {
        font-size: 20px;
    }

    .reserve h3 {
        font-size: 15px;
    }

    .reserve button {
        font-size: 15px;
        width: 10rem;
        height: 3rem;
        margin-top: 15%;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .contact-info p {
        margin-top: 10%;
        font-size: 15px;
    }
}

@media (max-width: 1000px) {

    .esittely h2 {
        margin-top: 15%;
        font-size: 12px;
    }

    .reserve h3 {
        font-size: 10px;
    }

    .reserve button {
        font-size: 15px;
        width: 10rem;
        height: 3rem;
        margin-top: 15%;
    }

    .reserve .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-info p {
        margin-top: 10%;
        font-size: 15px;
    }
}

@media (max-width: 300px) {

    .esittely h2 {
        font-size: 15px;
    }

    .reserve h3 {
        font-size: 10px;
    }

    .reserve button {
        font-size: 15px;
        width: 10rem;
        height: 3rem;
        margin-top: 15%;
    }

    .reserve .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-info p {
        margin-top: 10%;
        font-size: 15px;
    }
}