.tuote-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.tuote-buttons button {
    font-size: 18px;
    max-width: 20rem;
    max-height: 5rem;
    min-width: 6rem;
    min-height: 2rem;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tuote-buttons button:hover {
    background: rgb(196, 196, 196);
    color: black;
}

.tuote-buttons button.button-highlight {
    background: white;
    color: black;
}

.alv {
    display: flex;
    margin: 2rem;
}

.alv button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.alv p {
    font-size: 20px;
}

.tuote {
    display: inline-block;
    min-width: 30rem;
    padding: 2rem;
    text-align: left;
    border-radius: 15px;
}

.mainosvideo-color {
    background: rgb(1, 46, 35);
}

.yritysvideo-color {
    background: rgb(18, 18, 67);
}

.musiikkivideo-color {
    background: rgb(63, 17, 53);
}

@media (max-width: 1000px) {
    .tuote {
        display: inline-block;
        min-width: 10rem;
        padding: 2rem;
        text-align: left;
        border-radius: 15px;
    }
}