.mainokset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

.mainokset video {
    max-width: 50rem;
    cursor: pointer;
}

@media (max-width: 1000px) {


    .mainokset {
        flex-direction: column;
        text-align: center;
    }

    .mainokset video {
        max-width: 20rem;
        cursor: pointer;
    }

    .text-content {
        max-width: 20rem;
    }

    .text-content p {
        margin: 1rem;
    }
}