.tuotanto-kategoriat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.tuotanto-kategoriat button {
    font-size: 20px;
    max-width: 20rem;
    max-height: 5rem;
    min-width: 6rem;
    min-height: 2rem;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tuotanto-kategoriat button:hover {
    background: rgb(196, 196, 196);
    color: black;
}

.tuotanto-kategoriat button.button-highlight {
    background: white;
    color: black;
}