.yhteystiedot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pictures {
    margin-top: 3%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 20%);
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile p {
    text-align: center;
    white-space: nowrap;
}

.profile-pictures img {
    max-width: 70%;
    border-radius: 15px;
    margin-bottom: 15%;
}

@media (max-width: 1500px) {
    .yhteystiedot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-pictures {
        margin-top: 3%;
        grid-gap: 1%;
    }

    .profile {
        place-items: center;
        justify-self: center;
    }

    .profile p {
        text-align: center;
        white-space: nowrap;
    }

    .profile-pictures img {
        width: 40%;
        border-radius: 15px;
        margin-bottom: 10%;
    }
}

@media (max-width: 1000px) {

    .yhteystiedot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .yhteystiedot h1 {
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 30px;
    }

    .profile-pictures {
        display: flex;
        flex-direction: column;
    }

    .profile {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .profile p {
        font-size: 12px;
        text-align: center;
        white-space: nowrap;
    }

    .profile-pictures img {
        width: 40%;
        border-radius: 15px;
        margin-bottom: 2%;
        margin-top: 2%;
    }
}

@media (max-width: 300px) {
    .yhteystiedot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .yhteystiedot h1 {
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 30px;
    }

    .profile-pictures {
        display: flex;
        flex-direction: column;
    }

    .profile {
        margin-top: 5%;
        margin-bottom: 15%;
    }

    .profile p {
        font-size: 12px;
        text-align: center;
        white-space: nowrap;
    }

    .profile-pictures img {
        width: 40%;
        margin-bottom: 5%;
        margin-top: 2%;
    }
}