.profile-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.profile {
    text-align: center;
}

.profile-pictures img {
    max-width: 15rem;
    border-radius: 15px;
}

@media (max-width: 1000px) {
    .profile-pictures {
        flex-direction: column;

    }
}