@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');


* {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background: black;
}

.page-title {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 50px;
}




@media (max-width: 2000px) {}

@media (max-width: 1000px) {
  .page-title {
      margin-top: 2%;
      margin-bottom: 2%;
      font-size: 30px;
  }
}

@media (max-width: 300px) {}