@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');


* {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background: black;
}

header {
  display: flex;
  background: black;
  justify-content: center;
  align-items: center;
}

header img {
  width: 35px;
  height: 35px;
}

header a {
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
  padding: 1%;
  border-radius: 5px;
}

header a:hover {
  background: rgb(114, 114, 114);
}

header a.button-highlight {
  background: white;
  color: black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 20%;
  margin-top: 8%;
}

.esittely {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.esittely h1 {
  width: 50%;
  margin-top: 10%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.esittely h2 {
  font-size: 30px;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}



.reserve button {
  font-size: 20px;
  cursor: pointer;
  background: none;
  width: 15rem;
  height: 5rem;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 5%;
  margin-right: 5%;
}

.reserve button:hover {
  background: rgba(56, 56, 56, 0.5);
}

.reserve .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-info p {
  font-size: 25px;
}

.hinnasto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hinnasto h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 50px;
}

.tuotteet {
  display: flex;
  justify-content: center;
}



.tuotteet button {
  font-size: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

.tuotteet button.button-highlight {
  background: white;
  color: black;
}

.alv {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 2%;
  font-size: 20px;
}

.alv button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;

}

.alv button.bold {
  font-weight: bold;
}

.tuote-hinnasto {
  display: inline-block;
  width: 30%;
}

.tuote {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 10%;
  padding-right: 100%;
  margin-top: 5%;
  border-radius: 15px;
}

.tuote h1 {
  font-size: 30px;
}

.tuote p {
  text-align: left;
  font-size: 20px;
}

.mainosvideo-color {
  background: rgb(1, 46, 35);
}

.yritysvideo-color {
  background: rgb(18, 18, 67);
}

.musiikkivideo-color {
  background: rgb(63, 17, 53);
}

.tuotannot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tuotannot h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 50px;
}

.tuotanto-kategoriat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tuotanto-kategoriat button {
  font-size: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

.tuotanto-kategoriat button.button-highlight {
  background: white;
  color: black;
}

.elokuvat {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
}

.elokuva {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.elokuva a {
  text-align: center;
  cursor: pointer;
}

.elokuva a:hover {
  border: 15px solid white;
  transition: 0.2s;
}

.elokuva img {
  width: 350px;
  object-fit: cover;
}

#pinnat_kireena_juliste {
  width: 420px;
}

.mainokset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.mainokset h1 {
  margin-bottom: 1%;
}

.video-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-content video {
  width: 40%;
  cursor: pointer;
  margin-right: 5%;
}

.text-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: 25px;
}

.text-info h1 {
  margin-bottom: 5%;
}

.text-info p {
  margin-bottom: 5%;
}

.yhteystiedot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yhteystiedot h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 50px;
}

.profile-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50%;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile p {
  text-align: center;
  white-space: nowrap;
}

.profile-pictures img {
  width: 15rem;
  border-radius: 15px;
  margin-bottom: 15%;
}

.hidden {
  display: none;
}

@media (max-width: 1000px) {
  header a {
    font-size: 12px;
  }

  .logo img {
    width: 50%;
    margin-top: 30%;
  }

  .esittely h1 {
    margin-top: 30%;
    font-size: 15px;
  }

  .esittely h2 {
    font-size: 15px;
  }

  .reserve h3 {
    font-size: 15px;
  }

  .reserve button {
    font-size: 15px;
    width: 10rem;
    height: 3rem;
    margin-top: 15%;
  }

  .reserve .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .contact-info p {
    margin-top: 10%;
    font-size: 15px;
  }

  .tuotteet button {
    font-size: 15px;
  }

  .tuote-hinnasto {
    width: 70%;
  }

  .tuote {
    padding: 10%;
    margin-top: 15%;
  }

  .tuote h1 {
    font-size: 30px;
  }

  .tuote p {
    font-size: 18px;
  }

  .elokuvat {
    flex-direction: column;
  }

  .elokuva img {
    width: 200px;
    object-fit: cover;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  #pinnat_kireena_juliste {
    width: 200px;
  }

  .video-content {
    flex-direction: column;
  }

  .video-content video {
    width: 70%;
  }

  .text-info {
    width: 50%;
    font-size: 15px;

  }

  .text-info h1 {
    margin-bottom: 5%;
  }

  .text-info p {
    margin-bottom: 5%;
  }
}